.chat-body {
  position: relative;
  padding: 30px 0;
  height: calc(100% - 190px);
  overflow-y: scroll;
  background-color: $LightGray;
    .chat-messages {
      position: absolute;
      right: 40px;
      left: 40px;
      padding: 0;
      list-style: none;
    }
    .chat-message {
      margin-bottom: 40px;
        &__header {
          line-height: 20px;
        }
        &__name {
          float: left;
          margin-bottom: 10px;
          font-weight: 600;
          padding-right: 10px;
        }
        &__time {
          float: left;
          margin-left: 10px;
          color: $Gray;
          font-size: 12px;
        }
        &__body {
          font-size: 14px;
        }
    }
}
