.chat-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 40px;
  background-color: #ddd;

input {
  float: left;
  display: inline-block;
  width: 100px;
  margin-left: 15px;
  line-height: 50px;
  color: #fff;
  background-color: #38aef0;
  text-align: center;
  border: none;
  padding: 0;
}

  &__body {
      float: left;
      width: calc(100% - 115px);
      height: 50px;
      position: relative;
        textarea {
          width: 100%;
          height: 50px;
          padding: 15px 10px;
          line-height: 20px;
          border: none;
          resize: none;
          display: inline-block;
          box-sizing: border-box;
        }

        .chat-footer__file {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        height: 50px;
        padding: 15px 10px;
        box-sizing: border-box;
        line-height: 20px;
        text-align: center;
        cursor: pointer;

          .fa.fa-image {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
          }
        }
  }
}

*,*:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizin: border-box;
  box-sizing: border-box;
}