/*flash*/
.alert {
    background-color: $Orange;
    color: $White;
    text-align: center;
    height: 30px;
 }

.notice {
    background-color: $Blue;
    color: $White;
    text-align: center;
    height: 30px;
 }